<style>
    .full-page {
        /*position: absolute;*/
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
</style>
<div class="full-page" style="background:white">
    <div class="container" style="padding-top:30px">
        <div class="row">
            <div class="col s6">
                <h2>Story Estimation with fun!</h2>
                <p style="font-size:1.5em;">Truly agile, calls for story estimation with the whole team. Planning poker excels by doing it right, the
                    fun way!
                </p>
                <button class="btn waves-effect waves-light" type="button" onclick="getStarted()">Get Started
                    <i class="material-icons right">chevron_right</i>
                </button>
            </div>
            <div class="col s6 center-align" style="padding-top:117px;">
                <i class="large material-icons" style="font-size:9rem">style</i>
            </div>
        </div>
    </div>
</div>
<div class="full-page" style="background:white">
    <div class="container" style="padding-top:5px">
        <div class="row">
            <h4 class="center-align">Features</h4>
            <h6 class="center-align">Few things that we do best!</h6>
        </div>
        <div class="row">
            <div class="col s4 center-align">
                <i class="large material-icons">settings_input_component</i>
                <p style="font-size:1.5em;">Jira Integration</p>
            </div>
            <div class="col s4 center-align">
                <i class="large material-icons">record_voice_over</i>
                <p style="font-size:1.5em;">Everyone's voice is heard</p>
            </div>
            <div class="col s4 center-align">
                <i class="large material-icons">chat</i>
                <p style="font-size:1.5em;">Real time Collaboration</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getStarted() {
        navigateTo('login');
    }

</script>
